@font-face {
    font-family: myFont;
    src: url("cyberverse/Cyberverse.otf") format("opentype");
}

.clock {
    font-family: myFont;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 200px;
    font-size: 14rem;
    color: rgb(76, 76, 201);
    background-color: rgb(0,0,0);
}